@model WookieAddViewModel

@{
}
<form method="post">
    <div class="row">
        <div class="col-md-4 mb-3">
            <label for="validationCustom01">Nom</label>
            <input type="text" class="form-control" name="WookieAddDto.Nom" placeholder="Nom du wookie" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-3">
            <label for="validationCustom01">Nombre de poils</label>
            <input type="text" class="form-control" name="WookieAddDto.NbPoils" placeholder="Nombre de poils" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 mb-3">
            <label for="validationCustom01">Arme principale</label>
            <select asp-for="WookieAddDto.WeaponId" asp-items="Model.MainWeaponsSelectList" required></select>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
    </div>




    <div class="row">
        <div class="col">
            <button class="btn btn-primary" type="submit">Ajouter wookie</button>
        </div>
    </div>
</form>