@model List<Selfie>

@{
    ViewData["Title"] = "Selfie";
    bool displayImage = true;
    List<Weapon> weapons = ViewBag.Weapons;
}

<div class="text-center">
    <h1 class="display-4">Les selfies</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">
        </div><div class="col-sm">
        <select>
            @foreach(var weapon in weapons)
            {
                <option>@weapon.Label</option>
            }
        </select>

                  <ul>
                      @foreach (var selfie in Model)
                      {
                          <li>
                              @selfie.Titre
                              @if (displayImage)
                              {
                                  <img src="@selfie.Url" height="300px" alt="un wookie" />
                              }
                          </li>
                      }
                  </ul>
        </div><div class="col-sm">
        </div>
    </div>
    
</div>


<a href="/home">< Retour</a>
