@model SelfiesIndexViewModel

@{
    ViewData["Title"] = "Selfie";
    bool displayImage = true;
}

<div class="text-center">
    <h1 class="display-4">Les selfies</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">
        </div><div class="col-sm">
                  <ul>
                      @foreach (var selfie in Model.Selfies)
                      {
                          <li>
                              @selfie.Titre
                              @if (displayImage)
                              {
                                  <img src="@selfie.Url" height="300" alt="un wookie" />
                              }
                          </li>
                      }
                  </ul>
        </div><div class="col-sm">
        </div>
    </div>
    
</div>


<a href="/home">< Retour</a>
